.commentreply {
    text-align: -webkit-match-parent;
    font-size: 12px;
    color: #777877;
    line-height: 1.5;
}

.commentreplyarea {
    display: none;
    padding-right: 15px;
}
.textcommentreply {
    height: 45px;
    width: 100%;
}

.replycommentbutton {

}

.replycommentcancelbutton {

}