#if ($!threadedEnabled == "true")
    $!webResourceManager.requireResource("com.atlassian.jira.plugins.jira-editor-plugin:init")
<div>
    <a class="commentreply" href="#">Reply</a>
    <div class="commentreplyarea">
        <div class="field-group">
            #disable_html_escaping()
            $!rendererParams.put("rows", "5")
            $!rendererParams.put("cols", "35")
            $!rendererParams.put("wrap", "virtual")
            $!rendererParams.put("mentionable", "true")
            $!rendererParams.put("data-issuekey", $issueKey)
            $!rendererParams.put("data-projectkey",$projectKey)
            $rendererDescriptor.getEditVM("", $issueKey, "atlassian-wiki-renderer", "comment", "responsible", $rendererParams, false)

            <input accesskey="s" data="$commentId"
                   class="aui-button aui-button-primary replycommentbutton" id="issue-comment-add-submit"
                   name="Add" title="Press Alt+s to submit this form" type="submit" value="Add">
            <span class="icon throbber loading hiddenthrobber"></span>
            <a href="#" data="$commentId" class="aui-button cancel replycommentcancel">Cancel</a>
        </div>
    </div>
    <br/>
</div>
#end